@import url(./fonts.css);

@import url(./partials/_variables.css);

body {
    position: relative;
}

.about-section {
    height: 600px;
}

.header_section .main .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_section .main .navbar{
    padding: 1rem 20rem ;
}

.header_section .main .nav-item .nav-link{
    font: normal 500 15px/2px ;
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_section .main .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_section .main .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



.home .home-title h3
{
   padding-top: 31%;
   font-weight: 500;
}


.home .home-title h1{
    font-size: 65px;
}
.home .home-title .btn
{
    margin-top: 12px;
   
}

.home .home-img
{
    padding: 7rem 0;
    width: 90rem;
}
.button{
    padding:0.6rem 1.8rem;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
    color: whitesmoke;
    font-weight: bold;
}
.button  .primary-button
{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}



/*ABOUT SECTION*/

.site-main .about-section{
    padding:8rem 5rem;

}

.site-main .about-section .about-text h2 {
    display: block;
    font: normal bold 49px/ 60px ;

}

.site-main .about-section .about-text .about-para{
    padding: .4rem 0;
}   


.skills-section {
    padding-bottom: 120px;
}

.skills-section h1{
    font: normal bold 49px/ 60px ;
    padding-bottom: 10px;
}

.skill + .skill {
    margin-top: 50px;
}

.skill h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.progress {
    height: 15px;
    margin-bottom: 30px;
    border-radius: 0;
    background-color: #dfdfdf;
    box-shadow: none;
}

.progress-bar {
    background-color: #212121;  
}


/*PROJECTS SECTION*/
.site-main .project-section{
    padding: 2rem 0;
   
}

.site-main .project-section h1{
    font: normal bold 49px/ 60px ;
}

.site-main .project-section .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px ;
    text-transform: uppercase;
}

.site-main .project-section .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-section .grid .projects > .title h4{
    font: normal 700 25px/12px ;
}

.site-main .project-section .grid .projects .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}



/*CONTACT*/

.contact-section .contact-title{
    padding: 4rem 0;
    font: normal bold 49px/ 60px ;    
}
.contact-section .contact-img 
{
    height: 500px; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.contact-section .contact-img .contact-content {
    font-size: 80px;
    font-weight:200px;   
    color: whitesmoke;
    letter-spacing: 10px;
}


.footer-section {
    background-color:black;
    margin-top: 50px;
    padding: 2rem 0;
}

.footer-section .footer-icons i{

        border: 2px solid #fff;
        border-radius: 50%;
        padding: 9px 11px;
        color: #fff;
        font-size: 42px;
}
footer.footer-section .footer-icons a:hover > i{
    color: var(--primary-color);
    background-color: white;
}

